body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #086833;
    color: white;
}

header {
    background: #086833;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #bbb 1px solid;
}

nav {
    text-align: center;
    padding: 5px;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
}

.hero {
    background: url('/pictures/pizza3.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 150px 0;
}

.menu, .about, .contact {
    margin: 30px;
    padding: 20px;
}

.dish {
    border-bottom: #ccc 1px solid;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

footer {
    text-align: center;
    padding: 30px 20px;
    background: #000;
    color: white;
}

a {
    color: #50b3a2;
}

a:hover {
    text-decoration: underline;
}