body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #88c17b;
    color: white;
}

header, footer {
    background: #086833; 
    color: white;
    text-align: center; 
    padding: 30px 20px; 
}

nav ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
    justify-content: center; 
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
}

.hero {
    background: url('/pictures/pizza3.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 150px 0;
}

.menu, .about, .contact {
    margin: 30px;
    padding: 20px;
}

.dish {
    border-bottom: #ccc 1px solid;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

a {
    color: #50b3a2;
}

a:hover {
    text-decoration: underline;
}

.promotional {
    position: relative;
    overflow: hidden;
}

.promotional .logo-container {
    background: #88c17b;
    display: flex;
    text-align: center;
    justify-content: center;
}

.promotional .logo {
    margin-top: 5cm;
}

.promotional .logo::after {
    content: '';
    display: block;
    background: #50b3a2;
    height: 5cm;
    width: 100%;
    position: absolute;
    bottom: -5cm;
    left: 0;
}

.promotional .images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background: white;
}

.about-photo, .order-photo {
    display: flex;
    height: 23cm;
}

.about-photo .about-text, .order-photo .order-text {
    width: 50%;
    background: white;
    padding: 20px;
}

.about-photo .photo, .order-photo .photo {
    width: 50%;
}

.about-photo .photo img, .order-photo .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.white-spaces {
    background-color: white;
    padding: 3cm 0;
    margin-top: 3cm;
    display: flex;
    justify-content: center;
    align-items: center;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.images img {
    width: 5cm;
    height: 5cm;
    object-fit: cover;
    margin: 0 0.5cm;
}